export(collate)
export(collateBatch)
export(collateInfo)
export(getAllInfoTypes)
export(getInfo)
export(getInfoEntries)
export(getNodeSetAttribute)
export(getUniqueInfoCategory)
export(mergeDataFrames)
export(processDocument)
export(processPage)
import(RCurl)
import(XML)
import(plyr)
import(stringr)
