export(byBrand)
export(byModel)
export(byYear)
export(byYearLm)
export(collate)
export(collateBatch)
export(collateInfo)
export(getAllInfoTypes)
export(getCarDetails)
export(getInfo)
export(getInfoEntries)
export(getNodeSetAttribute)
export(getNumPages)
export(getUniqueInfoCategory)
export(keep)
export(keepBrands)
export(keepModels)
export(makePlotable)
export(mergeDataFrames)
export(modelsOfInterest)
export(potentialBrands)
export(priceFctDist)
export(processDocument)
export(processIngestedData)
export(processPage)
export(processPageTry)
import(RCurl)
import(XML)
import(ggplot2)
import(plyr)
import(stringr)
